<div class="row">
  <div class="col-md-10">
      <div class="col-md-10 row">
        <label class="col-form-label" >Fecha de Registro</label>
      </div>
    <div class="row">
      <div class="col-md-7 row mx-0">
         <div class="col-md-6 row mx-0 px-0">
            <label class="col-md-2 col-form-label-sm mx-0 px-0" for="fecha_emision_inferior">De:</label>
            <div class="input-group  col-md-8 mx-0 px-0"  style="width: 100%;">
                <input class="form-control form-control-sm"  style="width: 100%;"
                id="fecha_emision_inferior"
                name="fecha_emision_inferior"
                (change)= "cambio_fecha()"
                [(ngModel)]="fecha_emision_inferior"
                type="date" min="10/07/2019">
            </div>
         </div>
         <div class="col-md-6 row mx-0 px-0">
            <label class="col-md-2 col-form-label col-form-label-sm mx-0 px-0" for="fecha_emision_superior"> A: </label>
            <div class="input-group  col-md-8 mx-0 px-0" style="width: 100%;">
                <input class="form-control  form-control-sm"  style="width: 100%;"
                  id="fecha_emision_superior"
                  name="fecha_emision_superior"
                  (change)= "cambio_fecha()"
                  [(ngModel)]="fecha_emision_superior"
                  type="date" min="10/07/2019">
            </div>
         </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-md-7 row mx-0">
        <label class="col-md-1 col-form-label col-form-label-sm mx-0 px-0" >Cliente:</label>
        <div class="input-group  col-form-label-sm col-md-10 mx-0 px-0" style="width: 100%;">          
          <ng-select 
            style="width: 100%;" 
            [items]="_ActiveClients"
            bindLabel="razon_social"
            bindValue="ruc_empresa"
            [multiple]="true"
            placeholder="Seleccione cliente"
            [(ngModel)]="ruc_empresa_cliente"
            [ngModelOptions]="{standalone: true}">
            <ng-template ng-label-tmp let-item="item">                
              <b>{{item.ruc_empresa}}</b>&nbsp;-&nbsp;{{item.razon_social}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
              <b>{{item.ruc_empresa}}</b>&nbsp;-&nbsp;{{item.razon_social}}
            </ng-template>
          </ng-select>
        </div>
        
        <div class="col-md-1 form-group"  style="width: 100%;">
          <button (click)="buscar()" class="btn btn-primary-ivm " style="min-width: 100px;">
            <!-- <i class="fa fa-search"></i>&nbsp;Buscar -->
            Ejecutar
          </button>
        </div> 
        <!-- <button (click)="buscar()" class="btn btn-primary-ivm  col-sm-1 my-0 py-0" style="width: 100%;min-width: 70px;font-size: 80%;">
          <i class="fa fa-search"></i>Buscar
        </button> -->
             
      </div>      
        
    </div>
  </div>
  <div class="col-md-1">
      <img 
      id=nube 
      src="assets/img/logox/excel-icon.png" 
      style=" width: 100%;
      margin-left: 30%;
      margin-top: 10%;"
      alt="Exportar Documentos"
      (click)="exportar()" 
      srcset="" >
  </div> 
</div>



 <!-- [(ngModel)]="fecha_emision_inferior" -->
              <!-- (dateSelect)="onDateInferiorSelect($event)" -->
              <!-- <label class="col-md-1 col-form-label col-form-label-sm mx-0" for="fecha_emision_superior"> A: </label>
              <div class="input-group  col-md-5 mx-0 px-0" style="width: 100%;">
                  <input class="form-control  form-control-sm"  style="width: 100%;"
                    id="fecha_emision_superior"
                    name="fecha_emision_superior"
                    (change)= "cambio_fecha()"
                    [(ngModel)]="fecha_emision_superior"
                    type="date" min="10/07/2019">
              </div> -->
              <!-- [(ngModel)]="fecha_emision_superior"   -->
              <!-- (dateSelect)="onDateSuperiorSelect($event)" -->
         
        <!-- <label class="col-sm-1 col-form-label col-form-label-sm" for="dp1">De:</label>
        <div style="width: 100%;" class="input-group  col-sm-3">
          <input class="form-control form-control-sm" 
            placeholder="dd/mm/yyyy" name="dp1" ngbDatepicker #d1="ngbDatepicker" (dateSelect)="onDateInferiorSelect($event)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
          </div>
        </div>
      
        <label class="col-sm-1 col-form-label col-form-label-sm" for="dp2">A:</label>
        <div class="input-group  col-sm-3" style="width: 100%;">
          <input class="form-control form-control-sm" 
            placeholder="dd/mm/yyyy" name="dp2" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="onDateSuperiorSelect($event)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
          </div>
        </div>         -->


<div class="row" *ngIf=false> 
 <div class="col-md-3">
    <label>Seleccione la empresa cliente</label>
    <ng-select 
        style="width: auto !important" 
        [items]="_ActiveClients"
        bindLabel="razon_social"
        bindValue="ruc_empresa"
        [multiple]="true"
        placeholder="Seleccione cliente"
        [(ngModel)]="ruc_empresa_cliente"
        [ngModelOptions]="{standalone: true}">

        <ng-template ng-label-tmp let-item="item">
          
          <b>{{item.ruc_empresa}}</b> -
          {{item.razon_social}}
        </ng-template>
    </ng-select >
      
  </div>
  

  <div class="col-md-2">
    <label>Seleccione el estado</label>
    <ng-select 
      style="width: auto !important" 
      [items]="estatusDocument"
      bindLabel="nombre"
      bindValue="id"
      [multiple]="true"
      placeholder="Seleccione estado"
      [(ngModel)]="id_documento_estado"
      [ngModelOptions]="{standalone: true}">
    </ng-select>
  </div>
  <div class="col-md-2">
    <label>Fecha Inferior</label>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="dd/mm/yyyy"
               name="dp1" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateInferiorSelect($event)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
      <label>Fecha Superior</label>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="dd/mm/yyyy"
                 name="dp2" ngbDatepicker #d1="ngbDatepicker" (dateSelect)="onDateSuperiorSelect($event)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
          </div>
        </div>
      </div>
  </div>

  <div class="col-md-1">
      <button (click)="buscar()" class="btn btn-primary"><i class="fa fa-search"></i>Buscar</button>
  </div>
  <div class="col-md-1">
    <button (click)="exportar()" class="btn btn-success"><i class="fa fa-file-excel-o"></i>Exportar</button>
  </div>
</div>