<div class="animated fadeIn">

    <!-- <h3>Ingreso de documentos Físicos</h3> -->
    <!--/.card-->
    <div class="row">
      <div class="col-sm-6 offset-lg-4  col-lg-4" >
        <div class="brand-card" [routerLink]="[ '/DocumentosPago/formulario']">
          <div class="brand-card-header " style="background-color: var(--color-primary)">
              
            <i class="fa fa-keyboard-o"></i>
            <div class="chart-wrapper">
              
            </div>
          </div>
          <div class="brand-card-body" >
            
            <div>
              <div class="text-value">Ingreso Invidual</div>
              <div class="text-uppercase text-muted small">Subida de comprobantes de pago</div>
            </div>
          </div>
        </div>
      </div><!--/.col-->
      <!-- <div class="col-sm-6 col-lg-4">
        
      </div> -->
      <!--/.col-->
      
    </div><!--/.row-->

    <!-- <h3>Consultas</h3> -->
    <div class="row">
      <div class="col-sm-6 offset-lg-4 col-lg-4" >

          <div class="brand-card"  [routerLink]="[ '/DocumentosPago/excel']">
            <div class="brand-card-header color-celestito" >
              <i class="fa fa-file-excel-o"></i>
              <div class="chart-wrapper">
                
              </div>
            </div>
            <div class="brand-card-body">
              <div>
                <div class="text-value">Ingreso Masivo</div>
                <div class="text-uppercase text-muted small">Adjuntar el archivo excel</div>
              </div>
            </div>
          </div>
            <!-- <div class="brand-card" [routerLink]="[ '/DocumentosPago/Tabla']">
              <div class="brand-card-header" style="background-color: #F5A022;">
                  
                <i class="fa fa-search"></i>
                <div class="chart-wrapper">
                  
                </div>
              </div>
              <div class="brand-card-body" >
                
                <div>
                  <div class="text-value">Busqueda</div>
                  <div class="text-uppercase text-muted small">Puede ver sus documentos</div>
                </div>
              </div>
            </div> -->
      </div>
    </div>
  </div>
  