dl 
{
    background-color: white;
    border-bottom-color:var(--color-secondary);
    border-bottom-width: 10px;
    border-bottom-style: solid;

    border-top-color:var(--color-secondary);
    border-top-width: 10px;
    border-top-style: solid;

    margin-top: 20px;
    margin-bottom: 20px;

    padding-top: 20px;
    padding-bottom: 20px;

    width: 96%;
    margin-left: 2%;

    padding-left: 5%;
    padding-right: 5%;

    -webkit-box-shadow: 10px 10px 12px -2px rgba(133,71,0,1);
    -moz-box-shadow: 10px 10px 12px -2px rgba(133,71,0,1);
    box-shadow: 10px 10px 12px -2px rgba(133,71,0,1);
}

dt{
    background-color: var(--color-primary);
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
    /* -webkit-box-shadow: 10px 10px 12px -2px rgba(133,71,0,1);
    -moz-box-shadow: 10px 10px 12px -2px rgba(133,71,0,1);
    box-shadow: 10px 10px 12px -2px rgba(133,71,0,1); */
}